@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --background-light: 255 255 255;
  --background-dark: 242 242 242;
  --foreground: 23 23 23;
  --foreground-dark: 0 0 0;
  --foreground-light: 56 56 56;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --background-light: 0 0 0;
    --background-dark: 26 26 26;
    --foreground: 237 237 237;
    --foreground-dark: 255 255 255;
    --foreground-light: 204 204 204;
  }
}

.button {
  @apply rounded-full border border-solid border-foreground-light/30;
  @apply transition-colors flex items-center justify-center;
  @apply hover:bg-background-dark hover:border-transparent;
  @apply text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5;
}

.button-primary {
  @apply rounded-full border border-solid border-transparent transition-colors;
  @apply flex items-center justify-center gap-2;
  @apply bg-foreground text-background hover:bg-foreground-light;
  @apply text-sm sm:text-base h-10 sm:h-12 px-4 sm:px-5;
}

.link {
  @apply hover:underline hover:underline-offset-4;
}

.font-body {
  font-family: var(--font-geist-sans), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-mono {
  font-family: var(--font-geist-mono), 'Courier New', 'Consolas', 'Menlo', monospace;
}

code {
  @apply bg-background-dark/5 px-1 py-0.5 rounded font-semibold;
  @apply font-mono;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
